<div class="container pt-3 pb-3">
	<div class="row">
		<div class="col-md-12 text-center" id="header">

			<img src="/assets/css/img/burger.jpg" alt="eat that burger" />

			<h1 class="main-title">Eat-Da-Burger!</h1>

		</div>
  </div>
</div>

<!-- Cointainer to display the burgers list and status-->
<div class="container pt-3 pb-3">
	<div class="row">
		<div class="col-md-2"></div>
    <!-- Display the burger list of burgers to eat-->
		<div class="col-md-5">
			<div class="row">
				<ul class="burger-list">
					{{#each burgers}}
						{{#unless devoured}}
							<li><p>{{this.id}}. {{burger_name}}
								<button class="devoured-button" data-id="{{id}}" data-devoured="{{devoured}}">Devoured it!</button>
								</p>
							</li>
						{{/unless}}
					{{/each}}
				</ul>
			</div>
		</div>

    <!-- Display the devoured burger list-->
    <div class="col-md-3 pt-3 pb-3" class="devoured-list">
		<div class="row">
			<ul class="devoured-list">
			  	{{#each burgers}}
					{{#if devoured}}
						<li>{{this.id}}. {{burger_name}}</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="col-md-2"></div>
  </div>
</div>

<!-- Input form -->
<div class="container pt-3 pb-3">
	<div class="row">
    	<div class="col-md-3"></div>
		<div class="col-md-6 text-center" id="hfooter">
			<form class="create-burger">
				<p class="footer-message">Enter the burger you want to devoured! And click on the button: "Add burger!".</p>
				<div class="form-group">
					<input type="text" id="burger" name="burger_name">
				</div>
				<button type="submit" class="add-button">Add burger</button>			
			</form>
			
		</div>
    	<div class="col-md-3"></div>
  	</div>
</div>